#div1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block;
}
#div2 {
    width: 200px;
    height: 200px;
    background-color: red;
    display: inline-block;
}
#div3 {
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
}
#div4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: inline-block;
}
#key {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
}